.cart > h2 {
  font-size: 3.2rem;
  color: var(--gary2);
  line-height: 2;
}
.cart > p {
  color: var(--gary3);
}

.cartList {
  border: 1px solid var(--gary4);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0px 0px 5px var(--gary4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.cartList:hover {
  box-shadow: 2px 2px 5px var(--gary4);
}

.cartList .img {
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.cartList .img img {
  width: 10rem;
}
.cartList .title {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cartList .num {
  width: 120px;
  text-align: right;
}

.cartList .count {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cartList .count button {
  padding: 1rem 1.5rem;
  background-color: var(--gary4);
  border: 1px solid var(--gary3);
  border-radius: 1rem;
  outline: none;
}
.cartList .count button:disabled {
  opacity: 0.5;
}
.cartList > button {
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.cartList > button path {
  transition: 0.3s;
}
.cartList > button:hover path {
  fill: var(--point-c1);
}
