.shopList {
  display: flex;
  gap: 2rem;
}
.shopList > div {
  max-width: 250px;
  width: 15%;
  min-width: 150px;
}
.shopList > div > button {
  display: block;
  width: 100%;
  background-color: var(--gary4);
  border: none;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.shopList > div > button:hover {
  border-bottom: 3px solid var(--point-c1);
}
.shopList > ul {
  flex: 1;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 800px) {
  .shopList > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .shopList > ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
