.watched {
  position: fixed;
  top: 100px;
  right: 50%;
  z-index: 100;
  transform: translateX(900%);
}
.watched h2 {
}
.watched ul {
  border: 1px solid var(--gray4);
  padding: 1rem;
}
.watched li {
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.watched img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
